main {
  position: relative;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #57b6df;
  z-index: 1;
}

.hex-bcg {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: transparent url("./assets/backhex.png") left top repeat;
  background-size: 130px 90px;
  z-index: 0;
}
/* --------------------BlueWhale--------------- */
.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
  z-index: -1;
}
.gradient {
  position: absolute;
  width: 50vw;
  height: 50vh;
  filter: blur(40px);
  background-image: linear-gradient(to bottom right, white, var(--brand-grey));
  background-size: cover;
  animation: rotate 55s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
  transition: rotate 5s ease-out;
}
.frame {
  position: absolute;
  inset: 15%;
  height: 15vh;
  width: 15vw;
  background-color: var(--light-grey);
  animation: rotate 15s cubic-bezier(0.8, 0.2, 0.2, 0.8) alternate infinite;
}
@keyframes rotate {
  0% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 10% 70% 70% 10% / 5% 20% 90% 90%;
  }
  20% {
    transform: translate(150%, 50%) rotate(360deg);
    border-radius: 150% 10% 110% 20% / 100% 20% 200% 10%;
  }
  40% {
    transform: translate(-50%, 50%) rotate(0deg);
    border-radius: 10% 70% 70% 10% / 5% 20% 90% 90%;
  }
  60% {
    transform: translate(150%, 100%) rotate(360deg);
    border-radius: 150% 10% 110% 20% / 100% 20% 200% 10%;
  }
  80% {
    transform: translate(-50%, 100%) rotate(0deg);
    border-radius: 10% 70% 70% 10% / 5% 20% 90% 90%;
  }
  90% {
    transform: translate(150%, 50%) rotate(360deg);
    border-radius: 150% 10% 110% 20% / 100% 20% 200% 10%;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    border-radius: 10% 70% 70% 10% / 5% 20% 90% 90%;
  }
}
/* --------------------------------------------- */
.stack-section {
  position: sticky;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 1.8rem auto;
  height: calc(100vh - 1.5rem);
  max-width: 1024px;
  border-radius: 15px;
}

.stack-section p {
  /* font-size: 1rem; */

  /* color: var(--brand-grey); */
  padding: 0.5vw 6vw;
}

header {
  position: relative;
  margin-top: 0.6rem;
}
.header-bcg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 2rem;
  background: url(./assets/mainbg.jpg) center center/cover no-repeat;
  opacity: 0.6;
  border-radius: 12px;
}
.header-elements {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#header-logo {
  display: inline-block;
  height: 1.5rem;
  margin-left: 2rem;
  z-index: 1;
}
.brand h3 {
  display: inline-block;
  color: var(--brand-grey);
  font-family: "Exo 2", sans-serif;
  font-size: medium;
  font-weight: 400;
}

/* -------------------LANDING-----------------------  */
#landing {
  position: relative;
  max-width: 1024px;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
  height: calc(100vh - 3.5rem);
  border-radius: 15px;
  opacity: 0.8;
  background-color: silver;
}
#landing-img {
  width: 100%;
  max-width: 1024px;
  height: calc(100vh - 3.5rem);
  object-fit: cover;
  object-position: 70% bottom;
}
#quote {
  position: absolute;
  top: 70vh;
  left: 0;
  right: 0;
  margin: 0 8vw 0 auto;
  max-width: 23rem;
  filter: blur(5px);
  animation: clear 4s linear forwards;
}
@keyframes clear {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}
#quote > h2 {
  display: inline-block;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  /* font-size: 1.8rem; */
  color: var(--brand-red);
  text-align: center;
  /* white-space: no-wrap; */
}
/* ----------------nav------------------------ */

nav {
  position: relative;
  top: 10rem;
  left: -12rem;
  width: fit-content;
  height: fit-content;
  z-index: 10;
}

.nav-link {
  position: absolute;
  display: block;
  width: 12rem;
  height: 2.7rem;
  text-align: center;
  text-decoration: none;
  font-size: large;
  padding: 0.5rem;
  color: white;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}
#nav-why {
  --position1: calc(50vw - 8rem);
  --position2: calc(50vw - 6rem);
  background: var(--brand-green);
  animation: slide 0.5s ease-out 1.1s forwards,
    slidePush 0.3s ease-out 1.5s forwards;
}
#nav-services {
  top: 3rem;
  --position1: calc(50vw - 8rem);
  --position2: calc(50vw - 6rem);
  --position3: calc(50vw - 4rem);
  background: var(--brand-rezedo);
  animation: slide 0.5s linear 0.3s forwards,
    slidePush 0.3s linear 0.8s forwards, slidePush2 0.3s ease-out 1.5s forwards;
}
#nav-hire {
  top: 6rem;
  --position1: calc(50vw - 6rem);
  --position2: calc(50vw - 4rem);
  --position3: calc(50vw - 2rem);
  background: var(--brand-blue);
  animation: slide 0.5s ease-out forwards, slidePush 0.3s linear 0.8s forwards,
    slidePush2 0.3s ease-out 1.5s forwards;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(var(--position1));
  }
}
@keyframes slidePush {
  0% {
    transform: translateX(var(--position1));
  }

  100% {
    transform: translateX(var(--position2));
  }
}
@keyframes slidePush2 {
  0% {
    transform: translateX(var(--position2));
  }

  100% {
    transform: translateX(var(--position3));
  }
}
/* ------------------------------------------- */

/* -------- ABOUT-------- */
#about {
  background-color: var(--lighter-blue);
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.top-about {
  margin-top: -1.5rem;
}
#landing-logo {
  margin-right: -2rem;
}
/* #about > p {
  font-weight: 500;
} */
.advantages-container {
  /* height: 115vw; */
  max-height: 55vh;
  width: 88vw;
  max-width: 55rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin: 0 auto 2rem;
}
.advantages {
  height: 100%;
  max-height: 55vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* gap:1.2rem; */
  gap: 1.5vh;
  justify-content: space-between;
}

.box {
  min-width: 9rem;
  max-width: 20rem;
  background: var(--lighter-blue);
  border: 1px solid var(--lighter-green);
  /* height: 112vh; */
  border-radius: 5px;
  /* max-height: 15vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0.5rem;
}
.box > ul {
  list-style: none;
  line-height: 1.2rem;
}
.box > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* color: var(--light-grey); */
  padding: 0;
  margin: 0 0 0.5rem 0.5rem;
}

.tete-container {
  width: fit-content;
  max-width: 44rem;
  height: 115vw;
  height: auto;
  max-height: 55vh;
  border: 1px solid var(--lighter-green);
  border-radius: 0.3rem;
}
#tete {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right 50%;
  border-radius: 0.3rem;
  opacity: 0.8;
}
.bottom-about {
  margin-top: -2rem;
  /* border: 1px solid red; */
}
/* --------------BECAUSE---------------- */
#section-because {
  background-color: #40d7e5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.top-because {
  margin-bottom: 1rem;
}

#title-because {
  margin: 0 0 0 12vw;
}

.ampule-container {
  width: 100%;
  height: 34%;
  margin-bottom: 1rem;
}
.ampule-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 69%;
}
/* .bottom-because {
} */

#excell-title {
  font-weight: 200;
  margin: 0 0 -1rem 6vw;
}
.because-excell {
  display: block;
  width: fit-content;
  list-style-type: "-  ";
  /* color: red; */
  margin: 1vw auto 5vw;
}
.because-excell li {
  line-height: 1.8rem;
}
/* -----AREAS----- */
#section-areas {
  background-color: rgb(87, 182, 223);
  /* color: var(--light-grey); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .top-areas {
} */
#areas-title {
  width: fit-content;
  margin: 4vh auto;
}

.areas {
  width: 88vw;
  max-width: 650px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vw;
  margin: 0 auto;
}
.areas-item {
  width: 9.5rem;
  height: 11vw;
  max-height: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border: 1px solid var(--brand-grey);
  border-radius: 0.3rem;
  background-color: var(--light-rezedo);
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--brand-grey);
  padding: 0 2rem 0 0.5rem;
}
.areas-item img {
  width: 1.3rem;
  height: 1.3rem;
  margin: 0 auto 0 0.5rem;
}
#dent {
  padding-right: 2.3rem;
}
#gastro img {
  margin: 0 -0.4rem 0 -0;
}
.bottom-areas {
  padding: 2vh 0 4vh;
}
.bottom-areas p {
  font-weight: 500;
}
/* ---------------SERVICES-------------- */

#section-services {
  background-color: var(--dark-blue);
  height: calc(100vh - 3.5rem);
  margin-bottom: 2rem;
  /* padding-top: 9vh; */
}
#title-services {
  display: block;
  margin-left: 12vw;
  width: fit-content;
  color: var(--light-rezedo);
  font-family: "Exo 2", sans-serif;
  text-transform: capitalize;
  /* z-index: 100; */
}
#services-container {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  max-width: 870px;
  height: 61.5vh;
  border: 2px solid red;
  border-radius: 30px;
  background-color: transparent;
  overflow: hidden;
}
#services-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 61.5vh;
  background: url("./assets/serv-back.jpg") no-repeat center center/ cover;
}
#hex {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 21.5rem;
  height: 21.5rem;
  background: url("./assets/hex.png") no-repeat center / cover;
  border-radius: 50%;
  animation: spin 50s linear infinite;
  /* z-index: 0; */
}

#hex:hover,
#hex:hover > .subtitle {
  animation-play-state: paused;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.subtitle {
  position: absolute;
  width: 9rem;
  height: fit-content;
  text-align: center;
  /* padding: 2.7rem 0; */
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  animation: antispin 50s linear infinite;
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.95),
    -2px -2px 4px rgba(0, 0, 0, 0.95), 0px 0px 8px rgba(0, 0, 0, 0.8),
    2px -2px 4px rgba(0, 0, 0, 0.95), -2px 2px 4px rgba(0, 0, 0, 0.95);
  /* border: 1px solid red; */
}

#subtitle1 {
  top: 4.1rem;
  left: 9.3rem;
}
#subtitle2 {
  top: 8.5rem;
  left: 16.8rem;
}
#subtitle3 {
  top: 17.4rem;
  left: 16.8rem;
}
#subtitle4 {
  top: 21.8rem;
  left: 9.3rem;
}
#subtitle5 {
  top: 17.4rem;
  left: 1.5rem;
}
#subtitle6 {
  top: 8.5rem;
  left: 1.5rem;
}
#subtitle7 {
  top: 12.9rem;
  left: 9.2rem;
}
@keyframes antispin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal {
  position: absolute;
  top: -2.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 20rem;
  height: 17rem;
  background: var(--brand-blue);
  opacity: 0.95;
  color: var(--dark-blue);
  text-align: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.cls-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: larger;
  color: var(--brand-red);
  cursor: pointer;
}
.cls-btn:hover {
  transform: scale(1.2);
}
.modal h3 {
  margin: 1.5rem auto 0.5rem;
  width: 10.5rem;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
.ul-container {
  position: relative;
  top: 0rem;
  width: 15rem;
  height: 12rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal ul {
  width: 15rem;
  height: fit-content;
  list-style-type: none;
}
.modal li {
  width: fit-content;
  margin: 0 auto;
  padding: 0 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem;
  text-transform: capitalize;
  cursor: pointer;
}
.modal h3:hover,
.modal li:hover {
  font-weight: 100;
  color: var(--brand-red);
  color: white;
}

.submodal {
  position: absolute;
  width: 17rem;
  height: 17rem;
  padding: 1rem 1rem 0;
  background-color: var(--brand-blue);
  opacity: 0.95;
  border-radius: 50%;
  box-shadow: 0px 0px 10px var(--brand-blue);
  z-index: 10;
}

.submodal h3,
.submodal p {
  width: 12rem;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.18rem;
  color: var(--dark-blue);
}
.submodal h3 {
  width: 10.8rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--light-blue);
  padding: 0 5px;
  margin: 1rem auto 0.4rem;
  border-radius: 5px;
}
/* -------------FOOTER----------------- */
footer {
  position: sticky;
  top: 1rem;
  left: 0;
  right: 0;
  max-width: 1024px;
  border-radius: 15px;
  height: calc(100vh - 3.5rem);
  margin: 0 auto 2rem;
  background-color: #fff;
}
.blanc-layer {
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 1024px;
  height: calc(100vh - 3.5rem);
  background: url("./assets/bubbly.jpg") no-repeat center center/ cover;
  opacity: 0.5;
  z-index: -1;
  border-radius: 15px;
}
#footer-text {
  width: 100%;
  max-width: 1024px;
  height: 28vh;
  padding: 4vw 10vw;
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  color: var(--brand-red);
  margin: 0 auto;
}
#footer-logo {
  width: 7rem;
  margin-right: -0.5rem;
}
.footer-img-container {
  height: 35.4vh;
  width: 100%;
  display: flex;
  place-content: center;
}
.footer-img-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
#footer-container {
  height: 30vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  width: 27vw;
  max-width: 22rem;
  color: var(--light-grey);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.location .bold {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--light-red);
  font-size: 1rem;
}
.location p {
  padding-left: 0;
}
.hireus-container {
  width: 6.9rem;
  height: 6.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: var(--light-grey);
  font-weight: 700;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;

  margin: 0 23vw 0 4vw;
  border: 1px solid var(--brand-blue);
}
.hireus-container:hover {
  border: 1px solid var(--brand-red);
  color: var(--light-blue);
}
.hireus-container svg {
  color: var(--brand-blue);
  font-size: 2rem;
}
.contact {
  height: 7rem;
}
.social {
  width: 2rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--light-blue);
}
.social-link {
  font-size: xx-large;
  color: var(--success);
  cursor: pointer;
}
.mail {
  position: absolute;
  right: 10vw;
  font-size: large;
  font-weight: 400;
  color: var(--brand-red);
  margin-top: 10rem;
  cursor: pointer;
}
#made-by {
  position: absolute;
  width: 100vw;
  height: 1.5rem;
  padding: 2px 0;
  border-radius: 10px;
  background-color: var(--brand-grey);
  font-size: small;
  color: #c4c7c7;
  text-align: center;
  z-index: 100;
}

/* xxxxxxxxxxxxxRESPONSIVExxxxxxxxxxxxx */
/* ----------phone-------- */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
    color: var(--dark-blue);
  }
  .stack-section {
    position: relative;
    height: fit-content;
    margin: 0.8rem auto 0;
  }
  /* -------------landing------------ */
  #quote {
    margin: 0 auto;
    padding: 0 0.5rem;
    top: 69vh;
  }
  #quote > h2 {
    font-size: 1.7rem;
    color: green;
  }
  nav {
    top: 45vh;
  }
  #nav-why {
    --position1: calc(50vw + 2rem);
    --position2: calc(50vw + 4rem);
  }
  #nav-services {
    --position1: calc(50vw + 2rem);
    --position2: calc(50vw + 4rem);
    --position3: calc(50vw + 6rem);
  }
  #nav-hire {
    --position1: calc(50vw + 4rem);
    --position2: calc(50vw + 6rem);
    --position3: calc(50vw + 8rem);
  }
  /* -----------about----------- */
  .top-about {
    margin: 0 auto 1rem;
  }
  .bottom-about {
    margin-top: -1rem;
    padding-bottom: 2rem;
  }
  /* -----------because------------ */
  .top-because {
    margin-top: 1rem;
  }
  /* ----------areas--------------- */
  #areas-title {
    margin-top: 1rem;
  }
  /* ---------services----------- */
  #section-services {
    height: 100vh;
    /* padding-top: 9vh; */

    /* padding-bottom: 2rem; */
  }
  #title-services {
    padding-top: 1rem;
  }
  #services-container {
    top: -5vh;
    width: 98vw;
    height: 29.4rem;
  }
  #services-background {
    background-size: 240%;
  }
  #hex {
    width: 92vw !important;
    height: 92vw !important;
  }
  .modal {
    width: 20.3rem;
    height: 17.4rem;
    /* width: 90vw; */
    /* height: 78vw; */
  }
  .subtitle {
    width: 30vw;
    height: fit-content;
    text-align: center;
    font-size: 3.3vw;
  }
  #subtitle1 {
    top: 14vw;
    left: 31vw;
  }
  #subtitle2 {
    top: 28.5vw;
    left: 56.5vw;
  }
  #subtitle3 {
    top: 58vw;
    left: 56.5vw;
  }
  #subtitle4 {
    top: 73vw;
    left: 30.5vw;
  }
  #subtitle5 {
    top: 58vw;
    left: 5.3vw;
  }
  #subtitle6 {
    top: 28.5vw;
    left: 5.3vw;
  }
  #subtitle7 {
    top: 43.1vw;
    left: 30.7vw;
  }

  .submodal {
    top: 31.6rem !important;
    left: 0 !important;
    right: 0;
    margin: auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    width: 18rem;
    height: fit-content;
    border-radius: 5px;
  }
  .cls-btn {
    top: 0.3rem;
  }
  .submodal h3 {
    width: 12rem;
    margin: 1.2rem auto 0.2rem;
  }
  .submodal p {
    width: 18rem;
    font-size: 0.9rem;
    text-align: unset;
    padding: 1vh 5vh;
  }
  /*------------footer------------- */
  footer {
    margin: 1.8rem auto 1rem;
    height: 92.5vh;
    z-index: 5;
  }
  #footer-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .hireus-container {
    width: 23vw;
    height: 23vw;
    margin: 0 23vw 0 4vw;
  }
}

/* --------------tablet-------------- */
@media screen and (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  nav {
    top: calc(70vh - 39.5vw);
  }
  #nav-why {
    --position1: 17rem;
    --position2: 19rem;
  }
  #nav-services {
    --position1: 17rem;
    --position2: 19rem;
    --position3: 21rem;
  }
  #nav-hire {
    --position1: 19rem;
    --position2: 21rem;
    --position3: 23rem;
  }
  /* -----------about----------- */
  #about {
    padding: 0;
  }

  .top-about {
    margin: 0 auto 1rem;
  }
  .advantages-container {
    height: 48vh;
  }
  .box {
    height: 6.2rem;
    padding: 0.5rem;
  }
  .box > ul {
    line-height: 1rem;
  }
  .bottom-about {
    margin-top: -1rem;
    padding-bottom: 2rem;
  }
  /* -----------areas----------- */
  #areas-title {
    margin: 2vh auto 1vh;
  }
  /* ---------services----------- */
  #section-services {
    margin-bottom: 1.3rem;
    padding-top: 1vh;
  }
  #services-container {
    top: -11vh;
    width: 98vw;
    height: 29.4rem;
  }
  #services-background {
    height: 39.5rem;
  }
  #hex {
    width: 27.5rem;
    height: 27.5rem;
  }

  .modal-container {
    top: -7vh;
  }
  .submodal {
    top: 66vh !important;
    left: 0 !important;
    right: 0;
    margin: auto;
    width: 18rem;
    height: fit-content;
    padding: 1vh 1vh 0;
    padding: 0;
    border-radius: 5px;
  }
  .cls-btn {
    top: 0.3rem;
  }
  .submodal h3 {
    margin: 1.2rem auto 0.2rem;
  }
  .submodal p {
    width: 18rem;
    text-align: unset;
    padding: 1vh 5vh;

    font-size: 0.9rem;
    /* border: 1px solid red; */
  }
  /* .submodal {
    top: 30rem !important;
    left: 0 !important;
    right: 0;
    margin: auto;
    padding: 1rem;
    width: 20rem;
    height: fit-content;
    border-radius: 5px;
  }
  .cls-btn {
    top: 0.3rem;
  }
  .submodal h3 {
    margin: 0.5rem auto 0.4rem;
  }
  .submodal p {
    width: 18rem;
    font-size: 0.9rem;
    padding: 0;
  }
      footer {
    margin: 1.8rem auto 1rem;
    height: 92.5vh;
    z-index: 5;
  }
  #footer-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
 */
  /* ------------footer----------- */
  footer {
    margin: 1.8rem auto 1rem;
    height: 92.5vh;
    z-index: 5;
  }
  #footer-text {
    /* font-size: 1.2rem; */
    font-size: 4vw;
    line-height: 4.5vw;
    padding: 2rem 12vw;
    /* border: 1px solid red; */
  }
}

/* ------------desktop-------------- */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  nav {
    top: 30.2vh;
  }
  #nav-why {
    --position1: 17rem;
    --position2: 19rem;
  }
  #nav-services {
    --position1: 17rem;
    --position2: 19rem;
    --position3: 21rem;
  }
  #nav-hire {
    --position1: 19rem;
    --position2: 21rem;
    --position3: 23rem;
  }
  /*  .advantages-container {
    margin: 2rem auto;
  }
  .box > ul > li {
    font-size: 1rem;
    padding: 0;
    margin: 0 0 0.5rem 0.5rem;
  }

  #tete {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right 50%;
    border-radius: 0.3rem;
    opacity: 0.8;
  }

 
  .because-excell {
    width: 13rem;
  }
  .areas {
    gap: 1.5rem;
*/

  /* ---------services----------- */

  #section-services {
    margin-bottom: 1.3rem;
    padding-top: 0.5rem;
  }
  #services-container {
    /* background-size: 240%; */
    width: 98vw;
    height: 29.4rem;
  }
  #services-background {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 39.5rem;
  }
  #hex {
    width: 27.5rem;
    height: 27.5rem;
  }
  .modal-container {
    top: -0.7rem;
  }
  .submodal p {
    padding: 0;
    /* text-align: unset; */
  }
  /* -------------footer--------*/
  /* footer {
    margin: 1.8rem auto 1rem;
    height: 92.5vh;
    z-index: 5;
  } */
  #footer-text {
    font-size: 1.9rem;
    line-height: 2.1rem;
    padding: 2rem 12vw;
  }

  /* border: 1px solid red; */
  /* #services-container {
    min-height: 69vh;
  }
  .submodal {
    border-radius: 50%;
    width: 16.9rem;
    height: 16.3rem;
    padding: 2rem;
  }
  .cls-btn {
    top: 0.3rem;
  }
  .submodal h3 {
    margin: 0.5rem auto 0.4rem;
  }
  .submodal p {
    width: 14rem;
    font-size: 0.9rem;
    padding: 0;
    margin-left: -0.7rem;
  }
*/
}
@media screen and (min-width: 1024px) {
  .hireus-container {
    margin: 0 14.7rem 0 2.5rem;
    margin: 0 20rem 0 0;
  }
}
